.multi-image img {
	display: inline;
}

.image-right img, figure.right {
	float: right;
	margin-left: 10px;
}

figure.right {
	font-size: smaller;
	font-style: italic;
	text-align: center;
}

.underhead {
	margin-top: 30px;
}

.image-200 img {
	width: 200px;
}

.clear, hr {
	clear: both;
}

ul a {
	text-decoration: underline;
}

.toc ul a {
	font-weight: bold;
}

.note {
	font-style: italic;
	font-size: smaller;
}

span.science:before {
	content: "\269B";
}
span.science {
	color: #07d;
}

.post-meta.tags, .post-heading .meta.tags {
	font-size: 15px;
}
.post-meta.tags { margin-top: 3px; }
.post-heading .meta.tags { margin-top: 7px; }
.post-meta.tags a {
	color: inherit;
}

.intro-header .post-heading {
	padding: 136px 0px;
}

table#tag-index {
	margin: 0px auto;
}
table#tag-index td {
	padding: 5px 10px;
}
table#tag-index td.tag {
	background-image: url(/img/table-dot.png);
	background-repeat: repeat-x;
	padding-right: 50px;
}
table#tag-index td.tag span.name {
	background-image: none;
	background-color: white;
	padding-right: 10px;
}
table#tag-index td.count {
	text-align: right;
}

div.back-tags {
	text-align: center;
}
div.back-tags a {
	color: #999;
}
