.multi-image img {
	display: inline;
}

.image-right img {
	float: right;
	margin-left: 10px;
}

.clear, hr {
	clear: both;
}

ul a {
	text-decoration: underline;
}

.toc ul a {
	font-weight: bold;
}

span.note {
	font-style: italic;
	font-size: smaller;
}

span.science:before {
	content: "\269B";
}
span.science {
	color: #07d;
}

.post-meta.tags, .post-heading .meta.tags {
	margin-top: 7px;
	font-size: 15px;
}

.intro-header .post-heading {
	padding: 136px 0px;
}
