---
layout: page
tag_index: true
header-img: "img/tags-bg.jpg"
---

{% for post in page.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <div class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</div>
    <div class="post-meta tags">Tags: {{ post | tags }}</div>
</div>
<hr>
{% endfor %}

<div class="back-tags">
  <a href="/tags/">Back to tag index</a>
</div>
